* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
}
.cadastro input{
    padding: 5px;
    border: 1px solid black;
    outline: none;
    margin: 2px;
    width: 100%;
}
.cadastro select{
  align-self: flex-start;
  padding: 3px;
  border: 1px solid black;
  margin: 2px;
}
.cadastro button{
    width: 50%;
    border: none;
    padding: 10px 0;
    border-radius: 5px;
    margin-top: 5px;
    background-color: rgb(0, 162, 255);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.cadastro button:hover{
    background-color: rgb(27, 127, 185);

}
h1{
    color: #212121;
     font-family: sans-serif;
}